<h1>チーム詳細画面</h1>

<p>
  <strong>チーム名:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>リーダー:</strong>
  <%= @team.owner.name %>
</p>

<h2>メンバー</h2>
<% @team.members.each do |member| %>
  <p><%= member.name %></p>
<% end %>

<% if @team.owner == current_user%>
  <%= link_to 'チーム編集・招待', edit_team_path(@team) %> |
  <%= link_to 'チーム削除', @team, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% else @team.members.ids.include?(current_user.id)%>
  <%= link_to "チームから退出", team_assign_path(@team), method: :delete, data: { confirm: "チームから退出しますか？"} %>
<% end %>

<%= link_to 'チーム一覧', teams_path %> |
<%= link_to 'New Travel Plan', new_team_travel_plan_path(@team) %>
<%= link_to '旅行一覧', team_travel_plans_path(@team.id) %>


