<%= form_with(model: [Team.find(params[:team_id]), travel_plan]) do |form| %>
  <% if travel_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(travel_plan.errors.count, "error") %> prohibited this travel_plan from being saved:</h2>

      <ul>
        <% travel_plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :start_schedule %>
    <%= form.datetime_select :start_schedule %>
  </div>

  <div class="field">
    <%= form.label :end_schedule %>
    <%= form.datetime_select :end_schedule %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
